[Unit]
Description=Proxmox Logger Service
After=network.target rsyslog.service
Requires=network.target

[Service]
ExecStart=/usr/local/bin/proxmox-logger
EnvironmentFile=-/etc/default/proxmox-logger
Restart=on-failure
RestartSec=5
User=root
Group=root
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target