Source: proxmox-logger
Section: utils
Priority: optional
Maintainer: Evrim Uysal <evrimuysal@gmail.com>
Build-Depends: debhelper (>= 11), golang-go (>= 1.18)
Standards-Version: 4.1.4

Package: proxmox-logger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Proxmox Logger Service
 A lightweight Go application that captures Proxmox pvedaemon logs
 and forwards them to RabbitMQ. 